---
title: Home
layout: default
pagination: 
  enabled: true
---

<html>
<content class="content">
  {% for post in paginator.posts %}
	<div class="col-sm-4 hidden-sm">
		<div class="card">
			{% if post.thumbnail %}
						<div class="card-image" style="background-image: url('{{ post.thumbnail }}');">
<!-- 				<img src="{{ post.thumbnail }}" style="height: 400px;" align="center" /> 
 -->				{% else %}
				<img src="/images/thumbnail.png" style="height:400px;" align="center" />
				{% endif %}
				</div>
			<span class="card-s">
				<a style="text-decoration: none;" href="{{ BASE_PATH }}{{ post.url | remove: '/index.html' }}" class="shuf">{{ post.title }}</a>
			</span>
			<p><br></p>
			</div>
		</div>
	<!-- MOBILE -->
	<div class="col-9 visible-sm" style="padding-top: 5em;">
		<div class="card">
		{% if post.thumbnail %}
		<a href="">
		<img src="{{ post.thumbnail }}" style="height: 600px;    padding-left: 3em;" align="center" /> 
		{% else %}
		<img src="/images/thumbnail.png" style="height:600px;" align="center" />
		{% endif %}
		</a>
		<span class="card-s-m">
        <a style="text-decoration: none;" href="{{ BASE_PATH }}{{ post.url | remove: '/index.html' }}" class="shuf">{{ post.title }}</a></span>
		<p><br></p>
		</div>
		</div>



	{% endfor %}	   
</content>
</html>

